{% extends "layout.html" %}
{% block content %}
<div class="container"></div>
    <div class="hero-image">
      <div class="center">PREDICTIVE MAINTENANCE SOFTWARE</div>
    </div>
    </div>
    <div class="PMS-text">
<h2 class="heading1">Predictive Maintenance Software</h2>
<img src="../static/screenshot-apm-strategy-strat-manager-laptop-1792x1280.webp" alt="">
<p class="heading-text">
      Industrial machines and equipment are vital for many businesses, but they can also pose significant challenges and risks. Breakdowns, malfunctions, and inefficiencies can result in high maintenance costs, reduced productivity, poor quality, and safety hazards.

      Predictive maintenance software is a key solution to overcome these challenges and achieve industrial excellence. Predictive maintenance software uses sensors, data, analytics, and artificial intelligence to collect and analyze information from machines and equipment, such as temperature, vibration, sound, and lubrication. By detecting anomalies and patterns, predictive maintenance software can predict the future state of machines and equipment and determine the optimal time and method for maintenance. This way, predictive maintenance software can prevent failures before they occur, while minimizing maintenance costs and frequency.
    </p>
    </div>
      

      </div>
      <hr><br>
      <div class="container">
      <div class="PMS-result">
        <h2 class="heading2">Predictive Maintenance Software result</h2>
      </div>
      <div class="result">
       <p class="result-text-1">3-40% </p>
       <h3 class="result-text-2">EH&S incident reduction</h3>
        
      </div>
      <div class="result">
        <p class="result-text-1">2-6 %</p>
        <h3 class="result-text-2">Increased availability</h3>


      </div>
      <div class="result">
        <p class="result-text-1">10-40%</p>
        <h3 class="result-text-2">Reduction in reactive maintenance</h3>
      </div>
      <div class="result">
        <p class="result-text-1">5-10%</p>
        <h3 class="result-text-2">Inventory cost reduction</h3>
      </div>
    </div>
    <div class="main-box">
    <h2 class="heading3"><br>Enable continuous improvement with PMS solutions</h2>
    <div class="polaroid">
      <img src="../static/lower maintenance logo.png" alt="5 Terre" style="width:20%">
      <div class="container">
      <p class="sol-1"><b>Lower maintenance costs</b><br></p>
      Predictive maintenance software can reduce labor, material, and energy costs by avoiding unnecessary or excessive maintenance activities.
      </div>
    </div>
    
    <div class="polaroid">
      <img src="../static/Longer equipment life.png" alt="Norther Lights" style="width:20%">
      <div class="container">
      <p><b>Longer equipment life:</b> </p>
      Predictive maintenance software can extend the lifespan of machines and equipment by preventing wear and tear and optimizing performance.
      </div>
    </div>
    
    <div class="polaroid">
      <img src="../static/Higher production quality.png" alt="Norther Lights" style="width:20%">
      <div class="container">
      <p><b>Higher production quality:</b> </p>
      Predictive maintenance software can improve the quality and consistency of products by ensuring that machines and equipment operate within optimal parameters and specifications.
      </div>
    </div>
    
    
    <div class="polaroid">
      <img src="../static/Less downtime logo.png" alt="Norther Lights" style="width:20%">
      <div class="container">
      <p><b>Less downtime: </b></p>
     Predictive maintenance software can reduce the risk of unplanned outages and disruptions by fixing problems before they escalate and cause damage.
      </div>
    </div>
  </div>
{% endblock %}